/**
 * Social Media Directory
 */

.smd_area_title,
.smd_row_title {
	padding: 1%;
	max-width: 63%;
	width: 63%;
	display: inline-block;
	float:left;
}
@media (min-width: 768px) {
	.smd_row_title {		
		max-width: 73%;
		width: 73%;
	}
}
.smd_area_title {
	font-weight: bold;
	font-size: 1.75em;
}
.smd_title_full {
	max-width: 98%;
	width: 98%;
}
.smd_social_box {
	float:right;
	min-width: 165px;
	width: 25%;			
}		
.smd_section {
	clear:both;
	max-width: 100%;
	display: block;
	text-align: left;
	padding-top: 1em;
	border-bottom: 1px solid #22282D;
	margin-bottom: 0.85em;
	height: 100%;
	overflow-y: hidden;
}
.smd_section .smd_icon {
	display: inline-block;
	height: 25px;
	width: 25px;
	margin: 0 2px;
	background-size: auto 100%;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	background-image: url('social-sprite.png');
}
.smd_section .smd_facebook {	
	.fa-check{ color: #516ebf; }  
}
.smd_section .smd_twitter {	background-position: -25px 0px;	 }	
.smd_section .smd_youtube {	background-position: -100px 0px; }
.smd_section .smd_linkedin {	background-position: -75px 0px;	 }
.smd_section .smd_instagram { background-position: -150px 0px; }

.smd_row {
	max-width: 100%;
	height: auto;
	overflow-y: hidden;
	display: block;
	text-align: left;
}
.smd_row .smd_facebook, .smd_row .smd_twitter, .smd_row .smd_youtube, 
.smd_row .smd_linkedin, .smd_row .smd_instagram {
	display: inline-block; 		
	width: 25px;
	margin: 4px 2px;
	text-align: center;
}
.smd_row .smd_social_box a,
 .smd_row .smd_social_box a .fa-check { text-decoration: none;  }
.smd_row .smd_facebook  .fa-check { color: #516ebf; }
.smd_row .smd_twitter   .fa-check { color: #2d96e8; }
.smd_row .smd_youtube   .fa-check { color: #dc452f; }
.smd_row .smd_linkedin  .fa-check { color: #4275a9; }
.smd_row .smd_instagram .fa-check { color: #b33aa2; } 
