/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#adminmenu #menu-posts-cos_smd_cpt .wp-menu-image:before {
	content: "\f237";
	font-family: dashicons;
	font-size: 20px;
} 